@charset "UTF-8";
#app-home-page {
    // Global classes for home page
    h2 {
        font: {
            size: 16px;
            weight: 500;
        }
        line-height: 1;
        color: $color-dark;
        margin-bottom: 30px;
    }
    .typography {
        padding-bottom: 30px;
        a {
            color: $color-accent;
            &:hover, &:active {
                color: $color-dark-65;
            }
        }
    }
    .row {
        margin: 0 -15px;
        > .col {
            float: left;
            min-height: 1px;
            padding: 0 15px;
        }
    }
    .about {
        width: 50%;
        @include media(1699px) {
            width: 100%;
        }
        .statistic {
            position: relative;
            background: $color-light-special;
            padding-top: 30px;
            margin-bottom: 30px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                width: 80px;
                height: 80px;
                border: 2px solid $color-base-10;
                -webkit-border-top-left-radius: 10px;
                -moz-border-radius-topleft: 10px;
                border-top-left-radius: 10px;
                border-bottom: none;
                border-right: none;
            }
            &:before {
                top: -1px;
                left: -1px;
            }
            &:after {
                bottom: -1px;
                right: -1px;
                @include scaleXY(-1, -1);
            }
            .box {
                width: 25%;
                margin-bottom: 30px;
                @include media(767px) {
                    width: 50%;
                }
                .icon {
                    margin: 0 auto 10px auto;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    background: $color-base-10;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    overflow: hidden;
                    color: $color-base;
                    @include transition-single(color, .3s, ease-in-out);
                    &:hover {
                        color: $color-accent;
                    }
                    svg {
                        height: 48px;
                        width: 48px;
                        margin: 0 auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate(-50%, -50%);
                    }
                }
                p {
                    text-align: center;
                    font: {
                        size: 40px;
                        weight: 400;
                    }
                    line-height: 1;
                    span {
                        font-size: 20px;
                        display: block;
                    }
                }
            }
        }
        footer {
            margin-bottom: 30px;
            overflow: hidden;
            text-align: center;
            p {
                text-align: left;
                float: left;
                width: 100%;
                margin-right: -178px;
                padding-right: 208px;
                @include media(767px) {
                    float: none;
                    margin-right: 0;
                    padding-right: 0;
                    margin-bottom: 30px;
                }
            }
            a {
                float: right;
                width: 178px;
                text-align: center;
                display: block;
                color: $color-accent;
                border: 2px solid $color-accent;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font: {
                    size: 14px;
                    weight: 500;
                }
                text-transform: uppercase;
                line-height: 1;
                padding: 9px 0 7px 0;
                &:hover, &:active {
                    color: $color-base;
                    border: 2px solid $color-base;
                }
                @include media(767px) {
                    float: none;
                    display: inline-block;
                }
            }
        }
    }
    .top {
        width: 25%;
        margin-bottom: 30px;
        @include media(1699px) {
            width: 50%;
        }
        @include media(767px) {
            width: 100%;
        }
        ul {
            li {
                padding: 10px;
                position: relative;
                background: $color-light-special;
                margin-bottom: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                height: 72px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    border: 2px solid $color-base-10;
                    -webkit-border-top-left-radius: 10px;
                    -moz-border-radius-topleft: 10px;
                    border-top-left-radius: 10px;
                    border-bottom: none;
                    border-right: none;
                }
                &:before {
                    top: -1px;
                    left: -1px;
                }
                &:after {
                    bottom: -1px;
                    right: -1px;
                    @include scaleXY(-1, -1);
                }
                .ava {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 52px;
                    height: 52px;
                    .level {
                        position: absolute;
                        display: block;
                        background: $color-accent;
                        width: 20px;
                        height: 20px;
                        border: 2px solid $color-light-special;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 18px;
                        bottom: 2px;
                        right: -9px;
                        font: {
                            size: 10px;
                            weight: 500;
                        }
                        color: $color-white;
                    }
                }
                .info {
                    padding-left: 72px;
                    padding-top: 9px;
                    h3 {
                        font: {
                            size: 14px;
                            weight: 500;
                        }
                        color: $color-base;
                        line-height: 1;
                        margin-bottom: 8px;
                    }
                    p {
                        font: {
                            size: 12px;
                            weight: 400;
                        }
                        color: $color-dark-65;
                        line-height: 1;
                        span {
                            font-weight: 500;
                            color: $color-dark;
                        }
                    }
                }
                .rank {
                    font: {
                        size: 30px;
                        weight: 500;
                    }
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    bottom: 0;
                    right: 0;
                    text-align: center;
                    line-height: 36px;
                    color: #ced0d8;
                }
            }
        }
    }
    .popular-video, .new-video {
        margin-bottom: 30px;
    }
    .video-row {
        overflow: hidden;
        margin: 0 -5px;
        .video-item {
            padding: 0 5px;
            width: 20%;
            display: block;
            float: left;
            position: relative;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
            .info {
                position: absolute;
                height: 34px;
                right: 5px;
                bottom: 0;
                left: 5px;
                background: rgba(#000, .6);
                line-height: 34px;
                overflow: hidden;
                padding: 0 10px;
                color: rgba(#fff, .8);
                font: {
                    size: 12px;
                    weight: 500;
                }
                p {
                    float: left;
                }
                div {
                    float: right;
                    svg {
                        display: inline-block;
                        width: 20px;
                        height: 12px;
                    }
                    .views {
                        vertical-align: middle;
                        svg {
                            position: relative;
                            top: 1px;
                        }
                    }
                    .likes {
                        vertical-align: middle;
                        svg {
                            @include scaleY(-1);
                            position: relative;
                        }
                    }
                    .dislikes {
                        vertical-align: middle;
                        svg {
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                right: 5px;
                bottom: 0;
                left: 5px;
                background: rgba(#000, .6);
                opacity: 0;
                @include transition-single(opacity, .3s, ease-in-out);
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    color: rgba(#fff, .9);
                    text-transform: uppercase;
                    font: {
                        size: 14px;
                        weight: 500;
                    }
                    line-height: 1;
                }
            }
            &:hover .overlay {
                opacity: 1;
            }
        }
    }
}