@charset "UTF-8";

// Background size mixins

// Background size. Basic usage with one or two arguments (cover, contain, 50%, 30% 45% etc.)
@mixin background-size($background-size) {
    -webkit-background-size: $background-size;
    -moz-background-size: $background-size;
    -o-background-size: $background-size;
    background-size: $background-size;
}
// Background cover, short entry. Basic usage without arguments.
@mixin background-cover(){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
// Background contain, short entry. Basic usage without arguments.
@mixin background-contain(){
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}