@charset "UTF-8";

// Basic color palette
$color-white: #fff;
$color-light: #888999;
$color-base: #55576e;
$color-dark: #3b3d52;
$color-accent: #00b6ad;
$color-donate: #a875a7;

// Derivative color palette
$color-extra-light: #f6f6f7;
$color-base-10: #eeeef0;
$color-dark-40: #b1b1ba;
$color-dark-65: #7f818e;

// Avatars color palette (as massive)
$avatars-first-colors: (
        c-1: #00b6ad,
        c-2: #dc626f,
        c-3: #8199a3,
        c-4: #08aac7,
        c-5: #7d7870,
        c-6: #726680,
        c-7: #66CC99,
        c-8: #44BBFF
);
$avatars-second-colors: (
        c-1: #fcb941,
        c-2: #ff7055,
        c-3: #7d7870,
        c-4: #08aac7,
        c-5: #726680,
        c-6: #BE8B5C,
        c-7: #9E58DC,
        c-8: #409C97
);

// Fonts
$font-rubik: 'Rubik', Arial, Tahoma, sans-serif;

// Devices points for media queries

// Main app UI media queries points
$mainUIFrom: 1365px; // Note book full hd version point
$mainUITo: 468px;
$maimUIBcHide: 1023px; // Hide breadcrumbs

$sideBarMobWidth: 254px;