@charset "UTF-8";

// App sidebar component styles

#app-sidebar {
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    @include box-shadow-single(2px, 0, 8px, 0, rgba(#000, .15));
    @include media(1023px) {

    }
    .logo {
        margin: 0 auto;
        margin-bottom: 70px;
        display: block;
        height: 60px;
        width: 150px;
        color: $color-accent;
        &:hover, &:active {
            color: $color-base;
        }
    }
    .mini-logo {
        margin-bottom: 52px;
        display: none;
        height: 66px;
        padding: 13px;
    }
    // Scroll plugin selector
    .sbr-scroll {
        height: 100%;
        padding-top: 46px;
    }
    // Sidebar navigation
    nav {
        margin-bottom: 70px;
        a {
            position: relative;
            padding-left: 116px;
            padding-right: 30px;
            display: block;
            line-height: 26px;
            margin-bottom: 26px;
            &.active {
                color: $color-accent;
            }
            &:last-child {
                margin-bottom: 0;
                color: $color-donate;
                svg {
                    color: $color-donate !important;
                }
                &.active:before {
                    background: $color-donate;
                }
                &:hover:before {
                    background: $color-donate !important;
                }
            }
            &:nth-last-child(4) {
                margin-bottom: 78px;
            }
            &:before {
                content: '';
                display: block;
                width: 4px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -20px;
                background: transparent;
                visibility: hidden;
                @include transition-single(background, .3s, ease-in-out, null);
            }
            &:hover:before, &.active:before {
                background: $color-accent;
                visibility: visible;
            }
            svg {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 60px;
                margin-top: -13px;
                color: $color-dark-40;
                @include transition-single(color, .3s, ease-in-out, null);
            }
            &:hover > svg, &.active > svg {
                color: $color-accent;
            }
        }
    }
    // Footer styles
    footer {
        width: 100%;
        padding: 0 30px 25px;
        ul {
            text-align: center;
            font-size: 0;
            line-height: 1;
            padding-bottom: 25px;
            border-bottom: 2px solid $color-base-10;
            li {
                display: inline-block;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    width: 30px;
                    height: 24px;
                    color: $color-dark-40;
                    &:hover, &:active {
                        color: $color-accent;
                    }
                    svg {
                        display: block !important;
                    }
                }
            }
        }
        .copyrights {
            overflow: hidden;
            padding-top: 25px;
            p {
                line-height: 1;
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: $color-light;
                a {
                    color: $color-accent;
                    &:hover, &:active {
                        color: $color-base;
                    }
                }
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
    }
    // Sidebar shorted mode
    &.shorted {
        width: 66px;
        .logo {
            display: none;
        }
        .mini-logo {
            display: block;
        }
        .sbr-scroll {
            padding-top: 0;
        }
        nav {
            a {
                padding-left: 66px;
                line-height: 26px;
                margin-bottom: 26px;
                height: 26px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-last-child(4) {
                    margin-bottom: 78px;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 40px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -20px;
                    background: transparent;
                    visibility: hidden;
                    @include transition-single(all, .3s, ease-in-out, null);
                }
                &:hover:before {
                    background: $color-accent;
                    visibility: visible;
                }
                svg {
                    left: 20px;
                }
                &:hover > svg {
                    color: $color-accent;
                }
                span {
                    display: none;
                }
            }
        }
    }
}