@charset "UTF-8";

// App sidebar component styles

#app-sidebar {
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    @include box-shadow-single(2px, 0, 8px, 0, rgba(#000, .15));
    z-index: 10;
    @include transition-single(transform, .3s, ease-in-out);
    @include media_range($mainUITo, $mainUIFrom) {
        width: 66px;
        padding-top: 66px;
        z-index: 8;
    }
    @include media($mainUITo - 1) {
        left: auto;
        right: 100%;
        width: $sideBarMobWidth;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    &.sb-open {
        @include translateX($sideBarMobWidth);
    }
    .logo {
        margin: 0 auto;
        margin-bottom: 63px;
        display: block;
        height: 60px;
        width: 150px;
        color: $color-accent;
        &:hover, &:active {
            color: $color-base;
        }
        @include media_range($mainUITo, $mainUIFrom) {
            display: none;
        }
    }
    // Scroll plugin selector
    .sbr-scroll {
        height: 100%;
        padding-top: 46px;
        @include media_range($mainUITo, $mainUIFrom) {
            padding-top: 40px;
        }
    }
    // Sidebar navigation
    nav {
        margin-bottom: 63px;
        @include media_range($mainUITo, $mainUIFrom) {
            margin-bottom: 52px;
        }
        a {
            position: relative;
            padding-left: 116px;
            padding-right: 30px;
            display: block;
            line-height: 40px;
            margin-bottom: 12px;
            @include media_range($mainUITo, $mainUIFrom) {
                padding: 0;
                height: 52px;
                margin-bottom: 0;
            }
            @include media($mainUITo - 1) {
                padding-left: 96px;
            }
            span {
                @include media_range($mainUITo, $mainUIFrom) {
                    display: none;
                }
            }
            &.active {
                color: $color-accent;
            }
            &:hover, &:active, &.active {
                @include media_range($mainUITo, $mainUIFrom) {
                    background: $color-extra-light;
                }
            }
            &:last-child {
                margin-bottom: 0;
                color: $color-donate;
                svg {
                    color: $color-donate !important;
                }
                &.active:before {
                    background: $color-donate;
                }
                &:hover:before {
                    background: $color-donate !important;
                }
            }
            &:nth-last-child(4) {
                margin-bottom: 64px;
                @include media_range($mainUITo, $mainUIFrom) {
                    margin-bottom: 52px;
                }
            }
            &:before {
                content: '';
                display: block;
                width: 4px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -20px;
                background: transparent;
                visibility: hidden;
                @include transition-single(background, .3s, ease-in-out, null);
            }
            &:hover:before, &.active:before {
                background: $color-accent;
                visibility: visible;
            }
            svg {
                width: 26px;
                height: 26px;
                position: absolute;
                top: 50%;
                left: 60px;
                margin-top: -13px;
                color: $color-dark-40;
                @include transition-single(color, .3s, ease-in-out, null);
                @include media_range($mainUITo, $mainUIFrom) {
                    left: 20px;
                }
                @include media($mainUITo - 1) {
                    left: 40px;
                }
            }
            &:hover > svg, &.active > svg {
                color: $color-accent;
            }
        }
    }
    // Footer styles
    footer {
        padding: 0 30px 25px;
        @include media_range($mainUITo, $mainUIFrom) {
            padding: 0 0 40px;
        }
        ul {
            text-align: center;
            font-size: 0;
            line-height: 1;
            padding-bottom: 25px;
            border-bottom: 2px solid $color-base-10;
            @include media_range($mainUITo, $mainUIFrom) {
                padding-bottom: 0;
                border-bottom: none;
            }
            li {
                display: inline-block;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                @include media_range($mainUITo, $mainUIFrom) {
                    display: block;
                    margin-right: 0;
                    margin-bottom: 0;
                }
                @include media($mainUITo - 1) {
                    margin-right: 24px;
                }
                a {
                    display: block;
                    width: 30px;
                    height: 24px;
                    color: $color-dark-40;
                    &:hover, &:active {
                        color: $color-accent;
                    }
                    @include media_range($mainUITo, $mainUIFrom) {
                        width: auto;
                        height: 52px;
                        padding: 14px 0;
                        &:hover, &:active {
                            background: $color-extra-light;
                        }
                    }
                    svg {
                        display: block !important;
                    }
                }
            }
        }
        .copyrights {
            overflow: hidden;
            padding-top: 25px;
            @include media_range($mainUITo, $mainUIFrom) {
                display: none;
            }
            p {
                line-height: 1;
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: $color-light;
                a {
                    color: $color-accent;
                    &:hover, &:active {
                        color: $color-base;
                    }
                }
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
    }
}
// App header burger styles
#burger {
    position: absolute;
    top: 0;
    left: 100%;
    width: 66px;
    height: 66px;
    background: transparent;
    border: none;
    outline: none;
    padding: 20px;
    display: none;
    @include transition-single(all, .3s, ease-in-out);
    @include media($mainUITo - 1) {
        display: block;
    }
    > span {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        > span {
            display: block;
            width: 100%;
            height: 4px;
            background: $color-dark-40;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            @include transition-single(all, .3s, ease-in-out);
            &:before, &:after {
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                position: absolute;
                background: $color-dark-40;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                left: 0;
                @include transition-single(all, .3s, ease-in-out);
            }
            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }
    }
    &.sb-open {
        > span {
            > span {
                background: transparent;
                &:before {
                    top: 0;
                    @include rotate(45);
                }
                &:after {
                    bottom: 0;
                    @include rotate(-45);
                }
            }
        }
    }
}