@charset "UTF-8";

// App sidebar component styles

#app-sidebar {
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    @include box-shadow-single(2px, 0, 8px, 0, rgba(#000, .15));
    padding: 106px 30px 30px 30px;
    .logo {
        position: absolute;
        top: 46px;
        left: 50%;
        display: block;
        height: 60px;
        width: 150px;
        color: $color-accent;
        @include translateX(-50%);
        &:hover, &:active {
            color: $color-base;
        }
    }

    .table {
        padding: 46px 0 113px;
        display: table;
        width: 100%;
        height: 100%;
        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
    nav {
        margin: 0 -30px;
        ul {
            li {
                position: relative;
                padding-left: 116px;
                line-height: 26px;
                margin-bottom: 26px;
                &:nth-last-child(4) {
                    margin-bottom: 78px;
                }
                &:last-child > a, &:last-child > svg {
                    color: $color-donate !important;
                }
                &.active a:before {
                    background: $color-accent;
                    visibility: visible;
                }
                svg {
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    left: 60px;
                    top: 0;
                    color: $color-dark-40;
                    @include transition-single(all, .3s, ease-in-out, null);
                }
                a {
                    &:before {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 40px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -20px;
                        background: transparent;
                        visibility: hidden;
                        @include transition-single(all, .3s, ease-in-out, null);
                    }
                    &:hover ~ svg {
                        color: $color-accent;
                    }
                    &:hover:before {
                        background: $color-accent;
                        visibility: visible;
                    }
                }
            }
        }
    }

    // Footer styles 88px height!
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 30px 30px;
        ul {
            text-align: center;
            font-size: 0;
            line-height: 1;
            padding-bottom: 25px;
            border-bottom: 2px solid $color-base-10;
            li {
                display: inline-block;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    width: 30px;
                    height: 24px;
                    color: $color-dark-40;
                    &:hover, &:active {
                        color: $color-accent;
                    }
                    svg {
                        display: block !important;
                    }
                }
            }
        }
        .copyrights {
            overflow: hidden;
            padding-top: 25px;
            p {
                line-height: 1;
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: $color-light;
                a {
                    color: $color-accent;
                    &:hover, &:active {
                        color: $color-base;
                    }
                }
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
    }
}