@charset "UTF-8";

// App header component styles

#app-header {
    min-height: 76px;
    background: $color-white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding-left: 320px;
    overflow: hidden;
    z-index: 9;
    @include transition-single(transform, .3s, ease-in-out);
    @include box-shadow-single(0, 2px, 8px, 0, rgba(#000, .1));
    @include media($mainUIFrom) {
        padding-left: 0;
        min-height: 66px;
    }
    &.sb-open {
        @include translateX($sideBarMobWidth);
    }
}

// Mini logo
.mini-logo {
    float: left;
    display: none;
    height: 66px;
    width: 66px;
    padding: 13px;
    &:hover, &:active {
        background: $color-extra-light;
    }
    @include media_range($mainUITo, $mainUIFrom) {
        display: block;
    }
}
// App header breadcrumbs styles

#app-breadcrumbs {
    float: left;
    @include media($maimUIBcHide) {
        display: none;
    }
    ul {
        overflow: hidden;
        padding: 0 30px;
        @include media($mainUIFrom) {
            padding: 0 17px;
        }
        li {
            line-height: 76px;
            float: left;
            position: relative;
            padding-right: 19px;
            margin-right: 15px;
            color: $color-dark-65;
            max-width: 300px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include media($mainUIFrom) {
                line-height: 66px;
            }
            &:after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border: 2px solid $color-dark-40;
                border-top: transparent;
                border-left: transparent;
                @include rotate(-45);
                position: absolute;
                right: 1px;
                top: 50%;
                margin-top: -3px;
            }
            &:last-child {
                padding: 0;
                margin: 0;
            }
            &:last-child:after {
                display: none;
            }
            a {
                color: $color-accent;
                &:hover, &:active {
                    color: $color-base;
                }
            }
        }
    }
}

// App user area styles
#app-user-area {
    float: right;
    // If you are guest
    .guest {
        line-height: 76px;
        padding: 0 30px;
        @include media($mainUIFrom) {
            line-height: 66px;
        }
        a {
            text-transform: uppercase;
            display: inline-block;
            line-height: 1;
            border: 2px solid $color-accent;
            color: $color-accent;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font: {
                weight: 500;
                size: 12px;
            }
            padding: 12px 22px;
            &:hover, &:active {
                color: $color-base;
                border: 2px solid $color-base;
            }
        }
    }
    // If you are authorized
    .authorized {
        overflow: hidden;
        a {
            display: block;
            line-height: 76px;
            float: left;
            position: relative;
            @include media($mainUIFrom) {
                line-height: 66px;
            }
            // Profile button
            &:first-child {
                padding:0 20px 0 87px;
                color: $color-base;
                font: {
                    weight: 500;
                }
                &:hover, &:active {
                    background: $color-extra-light;
                }
                &:hover > .avatar .level, &:active > .avatar .level {
                    border-color: $color-extra-light;
                }
                @include media($mainUITo - 1) {
                    padding:0 5px 0 87px;
                    height: 66px;
                }
                p {
                    @include media($mainUITo - 1) {
                        display: none;
                    }
                }
            }
            .avatar {
                position: absolute;
                top: 50%;
                left: 20px;
                margin-top: -26px;
                width: 52px;
                height: 52px;
                .level {
                    position: absolute;
                    display: block;
                    background: $color-accent;
                    width: 20px;
                    height: 20px;
                    border: 2px solid $color-white;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 18px;
                    bottom: 2px;
                    right: -9px;
                    font: {
                        size: 10px;
                        weight: 500;
                    }
                    color: $color-white;
                    @include transition-single(all, .3s, ease-in-out, null);
                }
            }
            // Exit button
            &:last-child {
                height: 76px;
                width: 76px;
                padding: 22px;
                background: $color-accent;
                svg {
                    width: 32px;
                    height: 32px;
                    margin: 0 auto;
                }
                @include media($mainUIFrom) {
                    height: 66px;
                    width: 66px;
                    padding: 20px;
                    svg {
                        width: 26px;
                        height: 26px;
                    }
                }
                &:hover, &:active {
                    background: $color-base;
                }
            }
        }
    }
}

